.all
{
    width: 100%;
    height: 560px;
    background-color: #cdcdcd;
}
.fi
{
    height: 560px;
    padding: 10px;
}
.first
{
    height: 50px;
    background-color:#ffc0cb;
    margin-bottom: 10px;
    border: 2px solid #fff;
}
.second
{
    height: 400px;
    /* background-color: aquamarine; */
    margin-bottom: 10px;
    /* border: 2px solid #fff; */
    display: flex;
}
.third
{
    height:60px;
    background-color: black;
    border: 2px solid #fff;
}
.s1
{
    height: 400px;
    width: 56%;
    float: left;
    /* display: flex; */
}
.s11
{
    height: 41%;
    background-color: #4ceba9;
    border: 2px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
}
.s12
{
    /* background-color: black;
    padding: 10px;
    border: 2px solid #fff; */
    height: 46%;
    width: 50%;
    float: left;
}
.s121
{
    height: 50%;
    background-color: red;
    border: 2px solid #fff;
    margin-bottom: 10px;
}
.s122
{
    height: 50%;
    background-color: #fe6d00;
    border: 2px solid #fff;
}
.s13
{
    width: 48%;
    height: 50%;
    background-color: #f000ff;
    border: 2px solid #fff;
    float: right;
}
.s2
{
    height: 400px;
    width: 44%;
    float: right;
}
.s21
{
    height: 20% ;
    /* background-color: #4ceba9;
    border: 2px solid #fff; */
    /* padding: 10px; */
    margin-left: 10px;
    margin-bottom: 12px;
}
.s211
{
    border: 2px solid #fff;;
    height: 100%;
    width: 78%;
    background-color: #810081;
    float: left;
}
.s212
{
    border: 2px solid #fff;;
    height: 100%;
    width: 19%;
    background-color: #2f8b58;
    margin-left: 9px;
    float: right;
}
.s22
{
    height: 14%;
    border: 2px solid #fff;
    background-color: yellow;
    margin-left: 10px;
}
.s23
{
    height: 45%;
    /* display: flex; */
}
.s231
{
    height: 100%;
    width: 31%;
    background-color: #008083;
    margin: 10px;
    border: 2px solid #fff;
    float: left;
}
.s232
{
    height: 100%;
    width: 30%;
    background-color: red;
    margin-top: 10px;
    border: 2px solid #fff;
    float: left;
}
.s233
{
    height: 100%;
    width: 31%;
    background-color: #008083;
    margin-left: 10px;
    margin-top: 10px;
    border: 2px solid #fff;
    float:right;
}
.s24
{
    height: 11%;
    background-color: #cb9d62;
    border: 2px solid #fff;
    margin-top: 20px;
    margin-left: 10px;
}