body
{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0px;
}
.name
{
    margin-top: 60px;
    text-align: center;
    width: 100%;
    height: 100px;
}
span
{
    background-color: black;
    color: white;
    padding: 3px;
    /* border-radius: 5px; */
}
.content
{
    display: flex;
    margin-right: 70px;
    margin-left: 70px;
    margin-top: 40px;
    /* width: 100%; */
    /* height: 1200px; */
    /* background-color: teal; */
}
.c1
{
    width: 65%;
    height: 100%;
    /* background-color: wheat; */
}
.c2
{
    width: 32%;
    height: 100%;
    /* background-color: yellowgreen; */
    margin-left: 30px;
}
.c11
{
   height: 550px;
   width: 100%;
   background-color: cadetblue; 
   margin-bottom: 40px;
   box-shadow: 1px 1px 6px;
}
.c12
{
   height: 550px;
   width: 100%;
   background-color: cadetblue;
   box-shadow: 1px 1px 6px; 
}
.c21
{
    width: 100%;
    height: 400px;
    background-color: cadetblue;
    margin-bottom: 40px;
    box-shadow: 1px 1px 6px; 
}
.c22
{
    width: 100%;
    height: 400px;
    background-color: #e9e9e9;
    margin-bottom: 40px;
    box-shadow: 1px 1px 6px;
}
.c23
{
    width: 100%;
    height: 200px;
    background-color: white;
    box-shadow: 1px 1px 6px;
}
.foot
{
    margin-top: 50px;
    width: 100%;
    height: 190px;
    background-color: #777777;
}
.c111
{
    width: 100%;
    height: 300px;
    background-image: url(./7.jpg);
    /* background-repeat: no-repeat ; */
}
.c112
{
    /* width: 100%; */
    height: 220px;
    background-color: white;
    color: black;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}
.but
{
    margin-top: 10px;
    border: 1px solid turquoise!important;
    padding: 7px 12px!important;
    background-color: white;
}
.but1
{
    width: 50%;
    float: left;
}
.but1 :hover
{
    background-color: #ccc;
}
.cmt
{
    float: right;
    padding-top: 15px;
}
.c101
{
    width: 100%;
    height: 300px;
    background-image: url(./6.jpg);
    /* background-repeat: no-repeat ; */
}
.c211
{
    background-image: url(./1.jpg);
    width: 100%;
    height: 250px;
}
.c212
{
    /* width: 100%; */
    height: 90px;
    background-color: white;
    padding: 30px;
}
.text
{
    padding-top: 7px;
}
.c221
{
    /* width: 100%; */
    height: 30px;
    /* background-color: #e9e9e9; */
    padding: 25px;
    font-size: 25px;
}
.c222
{
    height: 79px;
    background-color: white;
    margin-bottom: 1px;
    display: flex;
}
.c223
{
    height: 79px;
    background-color: white;
    margin-bottom: 1px;
    display: flex;
}
.c224
{
    height: 79px;
    background-color: white;
    margin-bottom: 1px;
    display: flex;
}
.c225
{
    height: 79px;
    background-color: white;
    display: flex;
}
.c2221
{
    width: 50px;
    height: 50px;
    background-image: url(./8.jpg);
    margin: 15px;
}
.c2222
{
    padding-top: 15px;
}
.c22 :hover
{
    background-color: #ccc;
}
.c231
{
    /* width: 100%; */
    height: 20px;
    background-color: #e9e9e9;
    padding: 20px;
    font-size: 20px;
}
.c232
{
    padding: 10px;
    display: flex;
}
.c2321
{
    margin: 5px;
}
.c233
{
    padding-left: 10px;
    padding-top:10px;
    display: flex;
}
.but2
{
    margin-top: 40px;
    margin-left: 40px;
    border: 0px solid turquoise!important;
    padding: 15px 20px!important;
    background-color: black;
    color: white;
}
.but3
{
    /* width: 50%; */
    float: left;
}
@media all and (max-width: 1000px)
{
    .name
    {
        /* margin: auto; */
    }
    .content
    {
        padding: 0 15px;
        flex-direction: column;
        margin: 0;
    }
    .c1 {
        width: 100%;
        margin: 0 0 50px 0 /* top right BOTTOM left */
    }
    .c2 {
        width: 100%;
        margin: 0
    }
}